@import "tailwindcss";

:root {
  --background: oklch(82.032% 0.00009 271.152);
  --foreground: oklch(0% 0 0);
  --brand: oklch(93.845% 0.2084 121.668);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);

  --font-grotesk: var(--font-host-grotesk);
  --font-nunito: var(--font-nunito);

  --text-sz-64: clamp(2rem, calc(1.42rem + 2.86vw), 4rem);
  --text-sz-48: clamp(1.875rem, calc(1.55rem + 1.6vw), 3rem);
  --text-sz-24: clamp(1rem, calc(0.857rem + 0.71vw), 1.5rem);
  --text-sz-20: clamp(0.875rem, calc(0.76rem + 0.53vw), 1.25rem);
  --text-sz-16: clamp(0.5rem, calc(0.498rem + 0.75vw), 1rem);

  --leading-nm: 1.4;

  --spacing-layout-x: clamp(1rem, 4.1vw, 4.5rem);
  --spacing-layout-y: clamp(1rem, 2.7vw, 3rem);
  --spacing-menu-y: clamp(2rem, 8.8vw, 8rem);
  --spacing-sz-60: clamp(2.625rem, 1.6vw, 4rem);
  --spacing-sz-28: clamp(0.8rem, 1.38vw, 1.5rem);
}

@utility border-feint {
  border-color: rgba(196,196,196,0.3);
}

@utility diaeresis {
  position: relative;
  display: inline-block;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -0.05em;
    width: 0.1em;
    height: 0.1em;
    border-radius: 999em;
    background-color: var(--color-brand);
    pointer-events: none;
  }
  
  &::before {
    left: 50%;
    margin-left: -0.12em;
  }
  
  &::after {
    left: 50%;
    margin-left: 0.14em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0% 0 0);
    --foreground: oklch(82.032% 0.00009 271.152);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
