@import "tailwindcss";

:root {
  --background: oklch(82.032% 0.00009 271.152);
  --foreground: oklch(0% 0 0);
  --brand: oklch(93.845% 0.2084 121.668);
  --feint: oklch(82.032% 0.00009 271.152 / 0.3);
  --card: oklch(18.791% 0.00162 16.574);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-feint: var(--feint);
  --color-card: var(--card);

  --font-grotesk: var(--font-host-grotesk);
  --font-nuni: var(--font-nunito);

  --text-sz-150: clamp(3.75rem, calc(2.14rem + 8vw), 9.375rem);
  --text-sz-64: clamp(2.375rem, calc(1.9rem + 2.3vw), 4rem);
  --text-sz-60: clamp(2.25rem, calc(1.82rem + 2.14vw), 3.75rem);
  --text-sz-55: clamp(2.0625rem, calc(1.67rem + 1.96vw), 3.4375rem);
  --text-sz-48: clamp(1.875rem, calc(1.55rem + 1.6vw), 3rem);
  --text-sz-40: clamp(1.75rem, calc(1.53rem + 1vw), 2.5rem);
  --text-sz-32: clamp(1.5rem, calc(1.357rem + 0.71vw), 2rem);
  --text-sz-30: clamp(1.25rem, calc(1.071rem + 0.893vw), 1.875rem);
  --text-sz-24: clamp(1.125rem, calc(1.01rem + 0.535vw), 1.5rem);
  --text-sz-20: clamp(1rem, calc(0.93rem + 0.357vw), 1.25rem);
  --text-sz-18: clamp(0.875rem, calc(0.8rem + 0.357vw), 1.125rem);
  --text-sz-16: clamp(0.75rem, calc(0.678rem + 0.357vw), 1rem);
  --text-sz-14: clamp(0.625rem, calc(0.553rem + 0.357vw), 0.875rem);

  --leading-nm: 1.4;

  --spacing-layout-x: clamp(1rem, 4.1vw, 4.5rem);
  --spacing-layout-y: clamp(1rem, 2.7vw, 3rem);
  --spacing-menu-y: clamp(2rem, 8.8vw, 8rem);
  --spacing-sz-60: clamp(2.625rem, 1.6vw, 4rem);
  --spacing-sz-28: clamp(0.8rem, 1.38vw, 1.5rem);
}

@utility diaeresis {
  position: relative;
  display: inline-block;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -0.05em;
    width: 0.1em;
    height: 0.1em;
    border-radius: 999em;
    background-color: var(--color-brand);
    pointer-events: none;
  }
  
  &::before {
    left: 50%;
    margin-left: -0.12em;
  }
  
  &::after {
    left: 50%;
    margin-left: 0.14em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0% 0 0);
    --foreground: oklch(82.032% 0.00009 271.152);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
